<% 
  var i = 0;
  (theme.widgets||[]).forEach(function(name){ %>
  <%- partial('../_widget/'+name)  %>
  <% 
    if (i++ === 0) { %>
      <section class="m_widget ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-8d+2n-gm+b5+tt"
             data-ad-client="ca-pub-8322654260452484"
             data-ad-slot="4698393880"></ins>
        <noscript>
          <div class="noads content">If you're using an adblocker, please consider supporting this site via <a href="https://www.patreon.com/ircmaxell">Patreon</a> or <a href="https://paypal.me/ircmaxell">PayPal</a></div>
        </noscript>
        <div id="ebeg" class="noads content" style="display:none">If you're using an adblocker, please consider supporting this site via <a href="https://www.patreon.com/ircmaxell">Patreon</a> or <a href="https://paypal.me/ircmaxell">PayPal</a></div>
        <script>
             adsbygoogle = window.adsbygoogle || [];
             adsbygoogle.push({});
             document.getElementById('ebeg').style.display = "block";
             adsbygoogle.onload = function() {
                document.getElementById('ebeg').style.display = "none";
             };

        </script>
      </section>
    <% }

  %>
<% }) %>