<section class='m_widget about'>
  <img class='avatar waves-image' src='/images/anthony_avatar.jpg' />
  <div class='header'><%=config.author %></div>
  <div class='content'>
    <div class='desc'>
      Technologist, leader and purveyor of rants. All opinions my own.
    </div>
    <div class='social'>
      <dl>
        <dt>Email</dt><dd><a href="mailto:blog@ircmaxell.com">blog@ircmaxell.com</a></dd>
        <dt>Resume</td><dd><a href="https://www.github.com/ircmaxell/resume" rel="noopener noreferrer" target="_blank">On GitHub</a></dd>
        <dt>GitHub</dt><dd><a href="https://www.github.com/ircmaxell" rel="noopener noreferrer" target="_blank">ircmaxell</a></dd>
        <dt>Twitter</dt><dd><a href="https://www.twitter.com/ircmaxell" rel="noopener noreferrer" target="_blank">@ircmaxell</a></dd>
        <dt>YouTube</dt><dd><a href="https://www.youtube.com/user/ircmaxell" rel="noopener noreferrer" target="_blank">ircmaxell</a></dd>
        <dt>LinkedIn</dt><dd><a href="https://www.linkedin.com/in/ircmaxell" rel="noopener noreferrer" target="_blank">ircmaxell</a></dd>
      </dl>
    </div>
    <div class="job">
      
    </div>
  </div>
</section>